.env
api-gateway/
kong/
microservices/crema-webapi/poetry.lock
microservices/utility-webapi/poetry.lock
microservices/faster-whisper-webapi/poetry.lock
microservices/allin1-webapi/poetry.lock
microservices/demucs-webapi/poetry.lock
